@model Pb.Wechat.Web.Views.Shared.Components.AccountLogo.AccountLogoViewModel
@using Pb.Wechat
<div class="logo">
    <a href="~/">
        <img src="@Model.GetLogoUrl(AppConsts.MvcAppPath)" alt="" width="168" />
    </a>
</div>