@using Pb.Wechat.Web.Areas.AppAreaName.Models.Common.Modals

<style type="text/css">
    .modal-dialog {
        width:330px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">
        <span>预览</span>
    </h4>
</div>

<div class="modal-body" style="width:300px;height:300px;" align="center">
   
    <img src="@ViewBag.ImageUrl" style="width:300px;height:300px;" />
</div>
<div class="modal-footer" style="text-align:left;margin-left:50px;">
   
</div>