@using Pb.Wechat
@using Pb.Wechat.Authorization
@using Pb.Wechat.MpFansTags.Dto
@using Pb.Wechat.Web.Areas.AppAreaName.Startup
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Common.MpFansTags;
}
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Areas/AppAreaName/Views/MpFansTags/Index.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Areas/AppAreaName/Views/MpFansTags/Index.css" asp-append-version="true" />
    </environment>
}
@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Areas/AppAreaName/Views/MpFansTags/_CreateOrEditModal.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/AppAreaName/Views/MpFansTags/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Areas/AppAreaName/Views/MpFansTags/_CreateOrEditModal.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/AppAreaName/Views/MpFansTags/Index.js" asp-append-version="true"></script>
    </environment>
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>标签管理</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @if (IsGranted(AppPermissions.Pages_MpUserManagement_MpFansTags))
        {
            <button id="CreateNewModelButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("Create")</button>
        }
    </div>
</div>

<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form id="FilterForm" class="horizontal-form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">关键字</label>
                                <input type="text" name="Keyword" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6 text-right">
                        <button id="ExportListToExcelButton" class="btn green-haze"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                        <button id="RefreshListButton" class="btn blue"><i class=" fa fa-refresh"></i> @L("Refresh")</button>
                    </div>
                </div>
            </form>
        </div>
        <table id="FormTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@L("Actions")</th>
                    <th>编号</th>
                    <th>标签名</th>
                    <th>粉丝数</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
